header {
  background-color: purple;
  padding: 4px 0px;
  display: flex;
  justify-content: center;
}

header h2 {
  color: #fff;
  font-weight: 500;
}

footer {
  text-align: center;
  margin: 64px 0px;
  width: 100%;
}

footer p {
  color: gray;
  font-size: 1em;
}
